@model WAP_T2010A.Models.Brand
@{
    ViewBag.Title = "Create Brand";
}

<div class="row">
    <!-- left column -->
    <div class="col-md-6">
        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Create Brand</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            @using (Html.BeginForm("Create", "Brand", FormMethod.Post))
            {
            @Html.AntiForgeryToken()//CHo 1 token vaof form
            @Html.ValidationSummary(true)//Xac dinh se validate form data
        <div class="card-body">
            <div class="form-group">
                 @Html.LabelFor(Model => Model.BrandName)
                 @Html.EditorFor(Model => Model.BrandName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter brand name" } })
                 @Html.ValidationMessageFor(Model => Model.BrandName, "", new { @class = "text-danger" })
         </div>
            <div class="form-group">
                 @Html.LabelFor(Model => Model.BrandImage)
                 @Html.EditorFor(Model => Model.BrandImage, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter brand image" } })
                 @Html.ValidationMessageFor(Model => Model.BrandImage, "", new { @class = "text-danger" })
    </div>

</div> <!-- /.card-body -->

                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>            }

        </div>
    </div>
</div>

