@{ ViewBag.Title = "Update Category"; }
@model WAP_T2010A.Models.Category
<div class="row">
    <!-- left column -->
    <div class="col-md-6">
        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Update Category</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            @using (Html.BeginForm())
            {
@Html.AntiForgeryToken()//CHo 1 token vaof form
@Html.ValidationSummary(true)//Xac dinh se validate form data
<div class="card-body">
    <div class="form-group">
        @Html.LabelFor(Model => Model.CategoryName)
        @Html.EditorFor(Model => Model.CategoryName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter category name" } })
        @Html.ValidationMessageFor(Model => Model.CategoryName, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(Model => Model.CategoryImage)
        @Html.EditorFor(Model => Model.CategoryImage, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter category image" } })
        @Html.ValidationMessageFor(Model => Model.CategoryImage, "", new { @class = "text-danger" })
    </div>

</div> <!-- /.card-body -->

                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>            }

        </div>
    </div>
</div>

